.center {
  text-align: center;
  margin: 20px;
}
.button{
  margin: 30px;
}
.projectTitle {
  color: #764abc;
  font-size: 250%;
  line-height: 1em;
  padding-bottom: 45px;
}
.redux_logo{
    width:10%;
    height:auto;
}
.numbertext{
  margin: 15px;
}
